<turbo-frame id=<%="Post_#{post.id}"%>>
    <div class="post">
        <%= post.created_at %>
        <br>
        <strong><%= post.user.name + " " %></strong> says: 
        <br>
        <%= post.content %>
        <br>
        Liked by: 
        <ul>
            <% post.likes.each do |like| %>
                <li> <%= render partial: "likes/like", locals: {like: like} %> </li>
            <% end %>
        </ul>
        <br>
        Comments:
        <br>
        <div class="comments-container">
            <% post.comments.each do |comment| %>
                <%= render partial: "comments/comment", locals: { comment: comment } %>
            <% end %>
        </div>
        <br>
        <div class="interactions">
            <turbo-frame id=<%="like_from_#{current_user.id}_on_Post_#{post.id}"%>>
                <%= button_to "Like", post_likes_path(post), data: { 'turbo-method' => :post, 'turbo-frame': "Post_#{post.id}" }%>
            </turbo-frame>
            <turbo-frame id=<%="comment_from_#{current_user.id}_on_Post_#{post.id}"%>>
                <%= button_to "Comment", new_post_comment_path(post), method: :get %>
            </turbo-frame>
        </div>
    </div>
</turbo-frame>
