<turbo-frame id="<%="Image_#{image.id}"%>">
    <div class="post">
        <%= image.created_at %>
        <br>
        <strong><%= image.user.name + " " %></strong> says: 
        <br>
        <%= image.content %>
        <br>
        <%= image.caption %>
        <br>
        Liked by: 
        <ul>
            <% image.likes.each do |like| %>
                <li> <%= render partial: "likes/like", locals: {like: like} %> </li>
            <% end %>
        </ul>
        <br>
        Comments:
        <br>
        <div class="comments-container">
            <% image.comments.each do |comment| %>
                <%= render partial: "comments/comment", locals: { comment: comment } %>
            <% end %>
        </div>
        <br>
        <div class="interactions">
            <turbo-frame id=<%="like_from_#{current_user.id}_on_Image_#{image.id}"%>>
                <%= button_to "Like", image_likes_path(image), data: { 'turbo-method' => :post, 'turbo-frame': "Image_#{image.id}"}%>
            </turbo-frame>
            <turbo-frame id=<%="comment_from_#{current_user.id}_on_Image_#{image.id}"%>>
                <%= button_to "Comment", new_image_comment_path(image), method: :get %>
            </turbo-frame>
        </div>
    </div>
</turbo-frame>